body {
    display: flex;
    flex: 1;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin: 0;
}

/* div One objects */
body .divOne {
    background: #1F2937;
    height: 250px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 600px;
    padding: 0px 60px;
}

.logo {
    color: #F9FAF8;
    font-size: 20px;
}

.links {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.links a {
    color: #E5E7EB;
    font-size: 12px;
    text-decoration: none;
}

.header2 {
    display: flex;
    width: 600px;
    padding: 0px 60px;
    gap: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.t1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
    color: #F9FAF8;
    margin-bottom: 0px;
}

.t2 {
    color: rgb(165, 162, 162);
    font-size: 12px;
    margin-bottom: 6px;
}

.signup {
    width: 100px;
    height: 20px;
    border-radius: 5px;;
    background-color: #3882F6;
    margin-right: 50px;
    text-align: center;
    padding: 2px 20px;
    padding-bottom: 15px;
    color: white;
    font-size: 12px;
    font-family: 'Times New Roman';
    border: 1px solid #3882F6;
}

.img-holder {
    color: #F9FAF8;
    background-color: rgb(103, 101, 101); 
    display: flex;
    width: 300px;
    font-size: 13px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}


/* div Two objects */
.divTwo {
    background: white;
    height: 250px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.info {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 700px;
    gap: 20px;
}

.obj {
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 20%; 
}

.text {
    font-size: 10px;
    text-align: center;
}

.one {
    width: 100px;
}


/* div Three objects */
.divThree {
    background: #E5E7EB;
    height: 200px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote {
    display: flex;
    font-size: 20px;
    width: 550px;
    font-family: 'light italic';
    color: #1F2937;
    padding: 0px 90px;
    margin-bottom: 10px;
}

.author {
    display: flex;
    font-weight: bold;
    width: 500px;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px 90px;
}


/* div Four objects */
.divFour {
    background: white;
    height: 200px; 
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    background-color: #3882F6;
    display: flex;  
    border-radius: 5px;
    width: 500px;
    justify-content: space-between;
    align-items: center; 
}

.texts {
    color: white;
    font-size: 10px;
    padding: 25px 55px;
    font-family: 'Times New Roman';
}

.text1 {
    font-weight: bold;
}

.button {
    height: 20px;
    border-radius: 5px;;
    background-color: #3882F6;
    margin-right: 50px;
    text-align: center;
    padding: 2px 20px;
    padding-bottom: 15px;
    color: white;
    font-size: 10px;
    font-family: 'Times New Roman';
    border: 1px solid #E5E7EB;
}

/* div Five objects */
.divFive {
    background: #1F2937;
    height: 50px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footer {
    color: white;
    font-size: 10px;
}


